@(supplierForm: Form[Supplier])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a supplier</h1>
    
    @form(routes.SuppliersController.save()) {
        
        <fieldset>
            @inputText(supplierForm("name"), '_label -> "Name")
            @inputText(supplierForm("street"), '_label -> "Street")
            @inputText(supplierForm("city"), '_label -> "City")
            @inputText(supplierForm("state"), '_label -> "State")
            @inputText(supplierForm("zipCode"), '_label -> "Zip Code")           
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this supplier" class="btn primary"> or 
            <a href="@routes.SuppliersController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
