@(pk: Long, supplierForm: Form[Supplier], suppliers : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit supplier</h1>
    
    @form(routes.SuppliersController.update(pk)) {
        
        <fieldset>
            @inputText(supplierForm("id"), '_label -> "Supplier id") 
            @inputText(supplierForm("name"), '_label -> "Supplier name") 
            @inputText(supplierForm("street"), '_label -> "Street")
            @inputText(supplierForm("city"), '_label -> "City")
            @inputText(supplierForm("state"), '_label -> "State")
            @inputText(supplierForm("zipCode"), '_label -> "Zip Code")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this supplier" class="btn primary"> or 
            <a href="@routes.SuppliersController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.SuppliersController.delete(pk), 'class -> "topRight") {
        <input type="submit" value="Delete this supplier" class="btn danger">
    }
    
}
