@(currentPage: Page[Supplier], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.SuppliersController.list(
    newPage, 
    newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy),
    currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>@Messages("suppliers.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.SuppliersController.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        
        <a class="btn success" id="add" href="@routes.SuppliersController.create()">Add a new supplier</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { entities =>
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(1, "Supplier id")
                    @header(2, "Supplier name")
                    @header(3, "Street")
                    @header(4, "City")
                    @header(5, "State")
                    @header(6, "Zip Code")
                </tr>
            </thead>
            <tbody>
                @entities.map { 
                 case (entity) => {
                        <tr>
                            <td>
                            <a href="@routes.SuppliersController.show(entity.id.get)">@entity.id</a> 
                            </td>                     
                            <td>
                                @entity.name
                            </td>
                            <td>
                                @entity.street
                            </td>
                            <td>
                                @entity.city
                            </td>
                            <td>
                                @entity.state
                            </td>
                            <td>
                                @entity.zipCode
                            </td>          
                        </tr>
                     }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + entities.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }   
}